	<table class="table table-hover">
		<thead>
		<tr>
			<th><span>{{params[0]}}</span></th>
			<th class="hidden-xs"><span>{{params[1]}}</span></th>
			<th><span>{{params[2]}}</span></th>
			<th><span>{{params[3]}}</span></th>
			<th><span>{{params[4]}}</span></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in table" ng-class="getClass(row)">
			<td >{{row.name}}</td>
			<td>{{toDateString(row.send)}}</td>
			<td>{{toDateString(row.start)}}</td>
			<td>{{endToDateString(row.end)}}</td>
			<td title='Действия'>

				<button type="button" class="btn btn-success" ng-click="ok(row)" ng-show="showButton(row)" style="padding:4px 4px">
					<span class="glyphicon glyphicon-ok"></span>
				</button>

				<button type="button" class="btn btn-danger" ng-click="cancel(row)" ng-show="showButton(row)" style="padding:4px 4px">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				<span uib-popover="{{row.more}}" popover-trigger="'mouseenter'" class="glyphicon glyphicon-eye-open" ng-show="showEye(row)"></span>
			</td>
		</tr>
		</tbody>
	</table>

