<div style="padding:15px">	
	<center><h3>Добавить</h3></center>
	<hr>
	<div>
		<p class="input-group"> 
			<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="start" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Закрыть" alt-input-formats="altInputFormats" show-button-bar="false"/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</p>
    </div>
	<div>
		<p class="input-group">
			 <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="end" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Закрыть" show-button-bar="false"/>
			 <span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
			  </span>
		</p>
    </div>
		
		<div>
			<input type="text" class="form-control" ng-model="text">
		</div>
	
		<hr>
		<div style="margin-top:10px">
			<input type="button" ng-click="add()" value="Сохранить" class="btn btn-success">
			<input type="button" ng-click="cancel()" value="Назад" class="btn btn-warning">																
		</div>
</div>