<div>

    <div ui-calendar="$ctrl.uiConfig.calendar" class="span8 calendar" ng-model="$ctrl.eventSources"></div>
    <br>

    <table-pagination></table-pagination>

    <div class="col-xs-12" style="margin-bottom:15px;padding:0">
        <input type="button" value="Добавить" ng-click="$ctrl.addEvent(start,end,text)" class="btn btn-default col-xs-12" style="border:2px dotted gray">
    </div>
</div>