<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <span>Основные параметры</span>
            </h4>
        </div>
        <div class="panel-collapse collapse in">
            <div class="panel-body">
                <div>
                    <div class="col-xs-12 visible-xs visible-sm">
                        <p><label>Название организации: </label> <span>{{$ctrl.service.get().general.name}}</span></p>
                    </div>

                    <div class="col-xs-12 visible-xs visible-sm">
                        <p><label>ФИО директора: </label> <span>{{$ctrl.service.get().general.fio}}</span></p>
                    </div>

                    <div class="col-xs-6 visible-md visible-lg">
                        <p><label>Название организации: </label> <span>{{$ctrl.service.get().general.name}}</span></p>
                    </div>

                    <div class="col-xs-6 visible-md visible-lg">
                        <p><label>ФИО директора: </label> <span>{{$ctrl.service.get().general.fio}}</span></p>
                    </div>
                </div>

                <br>
                <br>

                <div>
                    <div class="col-xs-12 visible-xs visible-sm">
                        <p><label>Максимальная длительность отпуска: </label> <span>{{$ctrl.service.get().general.max}}</span></p>
                    </div>

                    <div class="col-xs-12 visible-xs visible-sm">
                        <p><label>Минимальная длительность отпуска: </label> <span>{{$ctrl.service.get().general.min}}</span></p>
                    </div>

                    <div class="col-xs-6 visible-md visible-lg">
                        <p><label>Максимальная длительность отпуска: </label> <span>{{$ctrl.service.get().general.max}}</span>
                    </div>

                    <div class="col-xs-6 visible-md visible-lg">
                        <p><label>Минимальная длительность отпуска: </label> <span>{{$ctrl.service.get().general.min}}</span></p>
                    </div>
                </div>

                <br>
                <br>

                <div class="col-xs-6 visible-md visible-lg">
                    <p><label>Список должностей: </label> <span>{{$ctrl.service.get().general.list}}</span></p>
                </div>

                <div class="col-xs-12 visible-xs visible-sm">
                    <div class="input-group">
                        <p><label>Список должностей: </label> <span>{{$ctrl.service.get().general.list}}</span></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <span>Справочник должностей</span>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul ng-repeat="dic in $ctrl.service.get().dictionary">
                    <li>{{dic.position1}} - {{dic.position2}}</li>

                </ul>
                <input type="button" class="btn btn-default" value="Добавить">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <span>История измененния параметров</span>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Дата изменения</th>
                        <th class="hidden-xs">Кем</th>
                        <th>Что</th>
                        <th class="hidden-xs">Старое значение</th>
                        <th>Новое значение</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="h in $ctrl.service.get().history">
                        <td>{{h.dateChange}}</td>
                        <td class="hidden-xs">{{h.who}}</td>
                        <td>{{h.what}}</td>
                        <td class="hidden-xs">{{h.old}}</td>
                        <td>{{h.new}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>