<div class="container container_all  container_auth">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="text-center">Востановление пароля</h1>
        </div>
        <div class="panel-body">
            <div class="block"></div>

            <form ng-show="!$ctrl.alert">
                <div class="col-sm-4"></div>
                <div class="form-group col-sm-4">
                    <label for="exampleInputEmail1">E-mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Введите E-mail"
                           value="{{$ctrl.email}}">
                </div>
                <div class="col-sm-4"></div>
                <div class="clearfix"></div>
                <div class="form-group form-group-lg">
                    <div class="col-sm-offset-4 col-sm-4">
                        <button type="submit" class="btn btn-primary col-sm-12 col-xs-12"
                                ng-click="$ctrl.alert = !$ctrl.alert">
                            Отправить
                        </button>
                    </div>
                </div>
            </form>
            <div class="row" ng-show="$ctrl.alert">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="alert alert-success text-center" role="alert">
                        Сообщение отправлено на указанный E-mail
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-4 col-sm-offset-4 ">
                    <button type="button" class="btn btn-primary col-sm-12 col-xs-12" ui-sref="login">Назад на страницу
                        логина
                    </button>
                </div>
            </div>
            <div class="block clearfix"></div>
            <div class="block"></div>
        </div>
    </div>


</div>
