<div class="panel panel-default">
    <div class="panel-heading">
        <span class="personal-statistic">Личная cтатистика</span>
        <label class="pull-right checkbox-inline hidden-xs">
            <input type="checkbox" ng-model="$ctrl.diagramDisplay" ng-value="true">
            Отобразить диаграммы
        </label>
        <button type="button" class="btn btn-default visible-xs pull-right"
                ng-model="$ctrl.diagramDisplay" uib-btn-checkbox btn-checkbox-true="1"
                btn-checkbox-false="0">
            <i class="fa fa-pie-chart" aria-hidden="true"></i>
        </button>
        <div class="clearfix"></div>
    </div>
    <div ng-if="$ctrl.diagramDisplay" class="row panel-body">
        <div ng-repeat-start="item in $ctrl.data.diagrams" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
            <canvas chart-data="item.days" chart-labels="$ctrl.labels" chart-options="$ctrl.options"
                    class="chart chart-pie" chart-colors='$ctrl.colors'></canvas>
            <label class="text-year">{{item.year}}</label>
        </div>
        <div ng-class="{clearfix: ($index + 1) % 4 == 0}"></div>
        <div ng-repeat-end></div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Начало</th>
            <th>Конец</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in $ctrl.data.holidays" ng-class="{ 'success': item.status == 'accepted',
                                                           'warning': item.status == 'waiting_for_response',
                                                           'danger': item.status == 'rejected'}">
            <td>{{item.begin}}</td>
            <td>{{item.end}}</td>
        </tr>
        </tbody>
    </table>
</div>