<div class="container container_all  container_auth">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="text-center">Заполнение личных данных</h1>
        </div>
        <div class="panel-body">
            <div class="block"></div>
            <form>
                <div class="form-group col-sm-4 col-sm-offset-4">
                    <label for="name">Имя</label>
                    <input type="text" class="form-control" id="name" placeholder="Введите имя">
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-sm-4 col-sm-offset-4">
                    <label for="name_case">Имя в родительном падеже</label>
                    <input type="text" class="form-control" id="name_case" placeholder="Введите имя в РП">
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-sm-4 col-sm-offset-4">
                    <label for="address">Адрес</label>
                    <input type="text" class="form-control" id="address" placeholder="Введите адрес">
                </div>
                <div class="clearfix"></div>
                <div class="form-group form-group-lg">
                    <div class="col-sm-offset-4 col-sm-4">
                        <button type="submit" class="btn btn-primary col-sm-12 col col-xs-12" ui-sref="p_dashboard">
                            Ок
                        </button>
                    </div>
                </div>
            </form>
            <div class="block clearfix"></div>
            <div class="block"></div>
        </div>
    </div>
</div>
