<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="p_dashboard">
                <span class="visible-xs">HMS</span>
                <span class="hidden-xs">Holiday Manager</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-1">
            <ul class="nav navbar-nav pull-right-sm" id ="bs-example-navbar-collapse-1">

                <li class="dropdown">
                    <a class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="user-btn">{{$ctrl.service.get().name}}</span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="account">Личный кабинет</span></a></li>
                        <li><a ui-sref="filling">Заполнить</a> </li>
                        <li><a ui-sref="pass">Создать пароль</a> </li>
                        <li><a ui-sref="p_statistic">Личная статистика</a></li>
                        <li><a ui-sref="login">Выход</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-if="$ctrl.position">

                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Администрирование<span class="caret"></span></a>
                    <ul class="dropdown-menu pull-right-sm">
                        <li><a ui-sref="a_statistic">Статистика администратора</a></li>
                        <li><a ui-sref="a_dashboard">Доска администратора</a></li>
                        <li><a ui-sref="administration">Параметры системы</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

