<div>
    <table class="font">
        <div>
            <div>Директору ООО “Дженерал Софт”</div>
            <div>Пальчик А. В.</div>
            <div>инженера-программиста</div>
            <div>Иванова И. И.</div>
            <div>ЗАЯВЛЕНИЕ</div>
            <div>Прошу предоставить очередной отпуск сроком на N дней с дд.мм.гггг.</div>
            <div>{{$ctrl.day}}.{{$ctrl.month+1}}.{{$ctrl.year}}</div>
        </div>
    </table>
</div>