<div class="container container_all  container_auth">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="text-center">Вход в систему</h1>
        </div>
        <div class="panel-body">
            <div class="block"></div>
            <form>
                <div class="col-sm-4"></div>
                <div class="form-group col-sm-4">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="Введите E-mail">
                </div>
                <div class="col-sm-4"></div>
                <div class="clearfix"></div>
                <div class="col-sm-4"></div>
                <div class="form-group col-sm-4">
                    <label for="pass">Пароль</label>
                    <a ui-sref="recovery"><span class="pull-right" >Забыли пароль?</span></a>
                    <input type="password" class="form-control" id="pass" placeholder="Введите пароль">
                </div>

                <div class="col-sm-4"></div>

                <div class="form-group form-group-lg">
                    <div class="col-sm-offset-4 col-sm-4">
                        <button type="submit" class="btn btn-primary col-sm-12 col col-xs-12" ui-sref="p_dashboard">
                            <i class="fa fa-sign-in"></i> Войти
                        </button>
                    </div>
                </div>
            </form>
            <div class="block clearfix"></div>
            <div class="block"></div>
        </div>
    </div>
</div>
