@media (max-width: 768px) {
    .btn-style {
        margin-top: 5px;
    }
}
.text-year {
    width: 100%;
    text-align: center;
}
.checkbox-width{
    width: 100%;
    display: block;
}
@media (max-width: 768px) {
    .personal-statistic{
        line-height: 34px;
    }
}
@media (min-width: 769px) {
    .pull-right-sm{
        float: right;
    }
}
.user-btn{
   max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}
@media  (max-width: 768px){
    .user-label{
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        vertical-align: middle;
    }
}
@media  (min-width: 768px){
    .user-label{
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        vertical-align: middle;
    }
}
@media (min-width: 768px) {
    .select {
        width: 150px;
    }
}
@media (max-width: 768px) {
    .select{
        margin-top: 10px;
    }

}
@media (max-width: 768px) {
    .text{
        display: block;
        text-align: center;

    }
}
.text{
    line-height: 30px;
}
.block{
    margin-bottom: 20%;;
}
.forget{
    margin-top:-20px;
    size:12px;
    margin-bottom:10px;
}
.alert-help {
    position: absolute;
    bottom: 60%;
}
