<div class="container container_all  container_auth">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="text-center">Изменение пароля</h1>
        </div>
        <div class="panel-body">
            <div class="block"></div>
            <form>
                <div class="form-group col-sm-4 col-sm-offset-4">
                    <label for="pass">Пароль</label>
                    <input type="password" class="form-control" id="pass" placeholder="Введите пароль">
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-sm-4 col-sm-offset-4">
                    <label for="repeat">Повторите пароль</label>
                    <input type="password" class="form-control" id="repeat" placeholder="Повторите пароль">
                </div>
                <div class="clearfix"></div>
                <div class="form-group form-group-lg">
                    <div class="col-sm-offset-4 col-sm-4">
                        <button type="submit" class="btn btn-primary col-sm-12 col col-xs-12" ui-sref="p_dashboard">
                            Ок
                        </button>
                    </div>
                </div>
            </form>
            <div class="block clearfix"></div>
            <div class="block"></div>
        </div>
    </div>
</div>
