<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Система учета отпусков</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jquery, moment, and angular have to get included before fullcalendar -->
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
	<script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
	<script type="text/javascript" src="bower_components/fullcalendar/dist/locale/ru.js"></script>
	<script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>
	
	<script src="js/app.js"></script>
	<script src="js/languageFactory.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
	    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
	
	
</head>
<body ng-controller="user">
	<div class="container-fluid">
		
		<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
		<br>
		
		<div class="col-xs-12" style="margin-bottom:15px;padding:0">
			<input type="button" value="Добавить" ng-click="addEvent(start,end,text)" class="btn btn-default col-xs-12" style="border:2px dotted gray">
		</div>
			

		
		<!--	!!!!! Список заявок на инкассацию !!!!!	
		<div id="requests" class="col-xs-12" style="display:block; padding:0">
			
			<table class="table table-hover table-bordered" >
				<thead>
				<tr>
					<th>Дата заявки</th>
					<th>Интервал</th>
					<th>Статус</th>
					
				</tr>
				</thead>
				<tbody id="tableRequests">
				<tr ng-repeat="Request in requests | filter:byRange('date', min, max) | orderBy:'id':sortReverse" ng-click="clickRow(Request)" ng-class="suc(Request)">
					<td>{{Request.date }}</td>
					<td>{{Request.interval}}</td>
					<td>{{Request.status}}</td>
				</tr>
				</tbody>

			</table>

			<div class="col-xs-12" style="padding-left:0;padding-right:0">
				<input class="form-control btn-default" style="border:dashed;border-color:#BDBDBD;border-width:1px" type="button" value="Добавить заявку" ng-click="addReq()" data-toggle="modal" data-target="#myModal"/>
				
					<div id="myModal" class="modal fade" role="dialog">
					  <div class="modal-dialog">

						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Добавление заявки</h4>
						  </div>
						  <div class="modal-body">
							  <form>
								<div class="input-group">
									<span class="input-group-addon">Дата начала</span>
									<input id="dateStart" type="date" class="form-control" >
								</div>
								
								<div class="input-group" style="margin-top:10px">
								  	<span class="input-group-addon">Дата окончания</span>
									<input id="dateFinish" type="date" class="form-control">
								</div>
								  
								<div class="input-group" style="margin-top:10px">
								  	<span class="input-group-addon">Коментарий</span>
									<input id="coment" type="text" class="form-control">
								</div>
							  </form>
							  <button type="submit" class="btn btn-success" data-dismiss="modal" style="margin-top:10px">Добавить</button>
							  <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-top:10px">Назад</button>
						  </div>
							
						</div>

					  </div>
					</div>
			</div>
			
		</div>
-->

	</div>

</body>
</html>
