<div class="panel panel-default">
    <div class="panel-heading p_heading" >
        <span class="text">Статистика администратора</span>
        <select class="form-control select pull-right input-sm" ng-model="$ctrl.selected" ng-change="$ctrl.request($ctrl.selected)">
            <option ng-value="'0'" selected>Все сотрудники</option>
            <option ng-repeat="item in $ctrl.list track by $index" ng-value="item.id">{{item.name}}</option>
        </select>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div ng-repeat-start="item in $ctrl.statistic.diagrams" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
            <canvas chart-data="item.days" chart-labels="$ctrl.labels" chart-options="$ctrl.options"
                    class="chart chart-pie" chart-colors='$ctrl.colors'></canvas>
            <label class="text-year">{{item.year}}</label>
        </div>
        <div ng-class="{clearfix: ($index + 1) % 4 == 0}"></div>
        <div ng-repeat-end></div>
    </div>
</div>