<div style="padding:15px">	
	<center><h3>Отказать</h3></center>
	<hr>
	<div>
		<p class="input-group"> 
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-pencil"></i>
			</span>
			<input type="text" class="form-control" ng-model="text" ng-required="true" placeholder="Причина отказа"/>
			
		</p>
    </div>
		<hr>
		<div style="margin-top:10px">
			<input type="button" ng-click="ok()" value="Сохранить" class="btn btn-success">
			<input type="button" ng-click="cancel()" value="Назад" class="btn btn-warning">
		</div>
</div>