<div class="modal-header">
    <h3 class="modal-title">Редактирование личных данных</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="name">Имя</label>
        <input type="text" class="form-control" id="name" placeholder="Имя" ng-value="data.name" ng-model="data.name">
    </div>
    <div class="form-group">
        <label for="name_case">Имя(Родительный падеж)</label>
        <input type="text" class="form-control" id="name_case" placeholder="Имя(Родительный падеж)" ng-value="data.name_case" ng-model="data.name_case">
    </div>
    <div class="form-group">
        <label for="address">Адрес</label>
        <input type="text" class="form-control" id="address" placeholder="Адрес" ng-value="data.address" ng-model="data.address">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Email" ng-value="data.email" ng-model="data.email">
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>