<div class="modal-header">
    <h3 class="modal-title">Изменение пароля</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="oldPas">Старый пароль</label>
        <input type="password" class="form-control" id="oldPas" ng-model="data.oldPass">
    </div>
    <div class="form-group">
        <label for="newPas">Новый пароль</label>
        <input type="password" class="form-control" id="newPas" ng-model="data.newPass">
    </div>
    <div class="form-group">
        <label for="repeateNewPass">Повторите новый пароль</label>
        <input type="password" class="form-control" id="repeateNewPass" ng-model="data.repateNewPass">
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>