<div class="panel panel-default">
    <div class="panel-heading">Личный кабинет</div>
    <div class="panel-body">
        <p><label>Email: </label> <span class="user-label" title="{{$ctrl.data.email}}">{{$ctrl.data.email}}</span></p>
        <p><label>Имя: </label> <span class="user-label" title="{{$ctrl.data.name}}">{{$ctrl.data.name}}</span></p>
        <p><label>Имя (родительный падеж): </label> <span class="user-label" title="{{$ctrl.data.name_case}}">{{$ctrl.data.name_case}}</span></p>
        <p><label>Должность: </label> <span class="user-label" title="{{$ctrl.data.position}}">{{$ctrl.data.position}}</span></p>
        <p><label>Адрес: </label> <span class="user-label" title="{{$ctrl.data.address}}">{{$ctrl.data.address}}</span></p>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 ">
                <input type="button" class="btn btn-default btn-block" ng-click="$ctrl.dataChange()" value="Изменить личные данные">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 pull-right" >
                <input type="button" class="btn btn-default  btn-style btn-block " ng-click="$ctrl.passChange()" value="Изменить пароль">
            </div>
        </div>
    </div>
</div>